# 1. Neglect all files by default
*

# 2. Then, unignore all directories (but not files) to allow Git to traverse into them
!*/

# 3. Finally, unignore specific file types and the .gitignore file itself
!*.jpg
!*.cpp
!*.h
!.gitignore